<h1>Food is here</h1>

<%= link_to 'Burger', home_shoppingcart_path, class: 'btn btn-default' %>
<%= link_to 'Fries', home_shoppingcart_path, class: 'btn btn-default' %>
<%= link_to 'Chicken', home_shoppingcart_path, class: 'btn btn-default' %>